
body{
    background-color: gray;
}

.city-wrap{
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.city {
    width: 10px;
    height: 10px;
    background-color: gold;
    border-radius: 90%;
}

.city-name{
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
}

img{
    width: 20px;
    height: 20px;
}

.disease-wrap{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}