.text{
    text-align: center;
    width: 200px;
    height: 20px;
    background-color: rosybrown;
    cursor: pointer;
}

.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 20;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s all;
}


.modal__cross{
    position: absolute;
    top: 20px;
    right: 20px;

    width: 20px;
    height: 20px;
    cursor: pointer;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s all;
}

.is-show{
    opacity: 1;
    visibility: visible;
}

.modal__contacts-wrap{
    padding: 40px 45px;
    width: 470px;
    background-color: white;
}

.modal__cross_white{
    fill: rgb(255, 255, 255);
}

.contact_us-title_text{
    font-size: 28px;
    margin-bottom: 11px;
    font-weight: 600;
    font-family: 'Merriweather';
    text-align: center;
    cursor: default;
}

.contact_us-text_wrap{
    font-family: 'Merriweather';
    font-weight: 400;
    color: #000;
    font-size: 18px;
    line-height: 1.55;
    cursor: default;
    margin-bottom: 25px;
}

.contact_us-text{
    padding-bottom: 5px;
}

.contact_us-input{
    color: #000000;
    border: 1px solid #c9c9c9;
    width: 100%;
    border-radius: 0px;
    height: 60px;
    padding: 0 20px;
    font-size: 18px;
    line-height: 1.33;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Merriweather';
}

.iti--allow-dropdown{
    width: 100%;
}

.contact_us-textarea{
    color: #000000;
    border: 1px solid #c9c9c9;
    background-color: transparent;
    margin: 0;
    font-family: 'Merriweather';
    padding: 17px 20px 0px 20px;
    font-size: 18px;
    line-height: 1.33;
    width: 100%;
    box-sizing: border-box;
    outline: none;
}

.contact_us_button{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #062a4d;
    background-color: #d0df56;
    width: 100%;
    height: 54px;
    font-family: 'Merriweather';
    border: 0 none;
    font-size: 18px;
    white-space: nowrap;
    cursor: pointer;
}

.prompt{
    font-family: 'Merriweather';
    font-size: 14px;
    cursor: default;
    padding-top: 5px;
}

.iti__selected-flag{
    height: 58px;
}

.big_prompt{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 100px;
    color: white;
    background-color: #F95D51;
    font-size: 14px;
}

.sucsess{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 100px;
    background-color: rgb(93, 196, 118);
    color: rgb(255, 255, 255);
    font-family: 'Merriweather';
    font-size: 14px;
}

.sucsess .is-show{
    opacity: 1;
    visibility: visible;
}